.faq {
  width: 100%;
  min-height: 100vh;

  h2 {
    color: $white;
    font-size: 2.3125rem;
    // line-height: 1.2rem;
    font-weight: 600;
    margin-bottom: 1.375rem;
    backface-visibility: hidden;
    text-align: center;

    @include breakpoints-up(large) {
      font-size: $font-xl;
    }
  }

  &__box {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 1.2rem;
    width: 100%;

    @include breakpoints-up(large) {
      width: 70%;
      margin: 0 auto;
    }
  }

  &__question {
    width: 100%;
    background-color: $white;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 1rem;
    margin: 0 auto;
    color: $darkBlue;
    border-radius: 10px;

    h2 {
      font-size: $font-l;
      line-height: 2rem;
      margin: 0;
    }

    p {
      margin: 0;
      text-align: center;
    }
  }
}
