.hero {
  background: $darkBlue;
  min-height: 100vh;
  // background-image: url("/images/07.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  display: flex;
  justify-content: center;
  align-items: center;

  @include breakpoints-up(large) {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 41rem;
    width: 100%;
    align-items: center;
    overflow-x: clip;
  }

  // &__img {
  //   position: relative;
  //   background-image: url("/images/bg-intro-mobile.svg");
  //   background-size: cover;
  //   background-repeat: no-repeat;
  //   background-position: center center;
  //   min-height: 17.5rem;
  //   margin-bottom: 2.25rem;

  //   @include breakpoints-up(large) {
  //     flex: 3.25;
  //     order: 2;
  //     height: 41rem;
  //     background-image: none;
  //     //   background: url("/images/bg-intro-desktop.svg");
  //     //   background-position: left center;
  //     margin-bottom: 0;
  //   }
  //   &::before {
  //     content: "";
  //     position: absolute;
  //     width: 100%;
  //     height: 100%;
  //     background-size: 93%;
  //     background-repeat: no-repeat;
  //     background-position: center bottom;

  //     @include breakpoints-up(large) {
  //       background: url("/images/bg-intro-desktop.svg");

  //       top: 6%;
  //       background-size: 134%;
  //       background-position: 0% 85%;
  //     }
  //   }

  //   &::after {
  //     content: "";
  //     position: absolute;
  //     width: 100%;
  //     height: 100%;
  //     background: url("/images/image-mockups.png");
  //     background-size: 93%;
  //     background-repeat: no-repeat;
  //     background-position: center bottom;
  //     backface-visibility: hidden;

  //     @include breakpoints-up(large) {
  //       height: 120%;
  //       background-size: 89%;
  //       background-position: center bottom;
  //       top: 4%;
  //       left: 21%;
  //     }
  //   }
  // }

  &__text {
    padding-bottom: 5.5rem;
    text-align: center;
    @include breakpoints-up(large) {
      text-align: left;
      padding-bottom: 0;
      padding-top: 5.5rem;
      // width: 50%;
    }

    &_box {
      padding: 2.125rem 0;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 1.25rem;
      color: $white;
      z-index: 1;

      h1 {
        color: $white;
      }

      a {
        display: flex;
        align-items: center;
        justify-content: center;
      }

      input {
        padding-left: 1rem;
        padding-top: 0.625rem;
        padding-bottom: 0.625rem;
        padding-right: 1rem;
        outline: none;
        border-radius: 8px;
        border: 1px solid #e0dede;
      }
    }

    &_input {
      position: relative;
      width: 609px;
      z-index: 1;

      @include breakpoints-down(large) {
        width: 100%;
      }

      input {
        width: 100%;
        border-radius: 50px;
        padding: 21px 25px;
        height: 34px;
        font-family: "Public Sans", sans-serif;
      }

      a {
        width: 128px;
        font-size: 14px;
        padding: 10px;
        position: absolute;
        right: 3px;
        top: 3px;
      }
    }

    h1 {
      color: $white;
      font-size: 2.3125rem;
      // line-height: 1.2rem;
      font-weight: 600;
      margin-bottom: 1.375rem;
      backface-visibility: hidden;

      @include breakpoints-up(large) {
        font-size: $font-xl;
      }
    }

    p {
      backface-visibility: hidden;
    }
  }

  &__modal {
    height: 100vh;
    width: 100%;
    position: absolute;
    left: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.8);
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;

    h2 {
      font-size: $font-xl;
      color: $white;
    }

    &.hidden {
      display: none;
    }

    &_box {
      background: $white;
      border-radius: 8px;
      display: flex;
      align-items: center;
      flex-direction: column;
      padding: 20px;
      min-width: 400px;

      &.hidden {
        display: none;
      }

      @include breakpoints-down(large) {
        margin: 10px;
        min-width: 100%;
      }
    }

    &_header {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;

      span {
        font-size: $font-med;
      }

      img {
        cursor: pointer;
      }
    }

    &_text {
      display: flex;
      align-items: center;
      border-radius: 10px;
      overflow: hidden;
      box-shadow: 1px 2px 1px #000;
      margin-top: 20px;
    }

    &_link {
      background: $white;
      width: 70%;
      color: $lightBlue;
      padding: 1rem;
      font-size: $font-sm;
    }

    &_copy {
      background-color: $lightBlue;
      color: $white;
      padding: 1rem;
      cursor: pointer;
      height: 100%;
    }
  }

  &__animation {
    &.hidden {
      display: none;
    }
  }
}
