// Color
$darkBlue: #0b101b;
$lightBlue: #144ee3;
$grayishBlue: hsl(233, 8%, 62%);
$lightGrayishBlue: hsl(220, 16%, 96%);
$veryLightGray: hsl(0, 0%, 98%);
$white: hsl(0, 0%, 100%);

// Font Sizes
$font-sm: 0.875rem; //14px
$font-med: 1.125rem; //18px
$font-l: 2.25rem; //21px
$font-xl: 3.25rem; //52px
